body {
        background-color: rgb(224, 222, 131);
            color: rgb(0, 0, 0);
            }

            h1 {
                color: rgb(0, 0, 0);
                }

                #html {
                    color: orangered;
                    }
                    
                    #css{
                      color: orangered;
                    }
                    #javascript{
                      color: orangered;
                    }
                    #curtidas{
                        background-color: pink;         /* cor de fundo */
                            color: palevioletred;           /* cor da letra */
                                padding: 5px 10px 5px 10px;       /* espaço interno */
                                    border: 2px solid palevioletred;/* borda */
                                        border-radius: 12px;              /* borda arredondada
} */
}