 body{
         background-color: rgb(247, 245, 233);

color: rgb(28, 118, 197);      
  }
  h1{

    .............
 color: rgb(10, 10, 146);
  }
  #HTML{
    color: rgb(219, 21, 21);
  }
  #CSS{
    color: rgb(228, 17, 17);
  }
  #javascript{
    color: rgb(233, 11, 11);
  }